In [1]:
import pandas as pd

In [2]:
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False],
       ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data,
                    columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

      Aluno  Idade  Nota  Aprovado
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True

In [3]:
tipos_de_dados = pd.DataFrame(dados.dtypes)

In [4]:
tipos_de_dados.columns =

SyntaxError: invalid syntax (<ipython-input-4-c5c7736823df>, line 1)

In [ ]:
dados_2= pd.DataFrame([1,1,2,3,3,3,4,4], columns = ['X'])

In [ ]:
dados_2

In [ ]:
dados_2.drop_duplicates()

In [ ]:
dados_2

In [ ]:
dados_2.drop_duplicates(inplace = True)
dados_2

In [ ]:
df1 = pd.DataFrame({
     'A': {'X': 1}, 
     'B': {'X': 2}
})
df2 = pd.DataFrame({
    'C': {'X':3},
    'D': {'X':4}
})
pd.concat([df1,df2])

In [ ]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'], index = ['C1', 'C2'])
df

In [ ]:
dados = [[1,2,3], [4,5,6]]
index = 'X, Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

In [ ]:
dados = {'A': {'X': 1, 'Y':3}, 'B':{'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

### Determinando Seleções

In [ ]:
numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)
df

### Filtrar Apenas os Pares

In [ ]:
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

In [ ]:
df = pd.DataFrame({
    'C': {'Z':9, 'Y':8, 'X':7},
    'B': {'Z':6, 'Y':5, 'X':4},
    'A': {'Z':3, 'Y':2, 'X':1}
})
df

In [ ]:
df.sort_index()
df.sort_index(axis=1)
df

In [ ]:
df.sort_index()
df.sort_index(axis=1, inplace = True)
df

In [ ]:
data = [
['Ary', 'M', 21],
['Cátia', 'F', 19],
['Carlos', 'M', 50],
['Beto', 'M', 29],
['Bruna', 'F', 31],
['Ana', 'F', 42]
]
data

In [ ]:
df_A = pd.DataFrame(data,
                    columns = ['Nome', 'Sexo', 'Idade'])
df_A

In [ ]:
df_B = df_A.sort_values(by = ['Nome', 'Sexo'])
df_B

In [ ]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

In [ ]:
selecao = alunos['Aprovado'] == True
aprovados = alunos[selecao]
aprovados

In [ ]:
selecao = aprovados['Sexo'] == 'F'
alunas_aprovadas = aprovados[selecao]
alunas_aprovadas

In [ ]:
selecao = ( alunos.Idade > 10) & ( alunos.Idade < 20) | (alunos.Idade >= 40)
grupos_idade = alunos[selecao]
grupos_idade

In [ ]:
selecao = alunos.Aprovado == False
alunos_reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']]
alunos_reprovados

### Exibe apenas algumas colunas e filtra os alunos reprovados

In [ ]:
selecao = alunos.Aprovado == False
reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
alunos_reprovados

### Exibe os 3 alunos mais jovens

In [ ]:
alunos.sort_values(by = ['Idade'], inplace = True)
alunos.iloc[:3]

In [ ]:
imoveis = pd.DataFrame([['Apartamento', None, 970, 68], 
                        ['Apartamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Apartamento', None, 1010, 170], 
                        ['Apartamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Apartamento', 2000, 878, None], 
                        ['Apartamento', 1550, None, 228], 
                        ['Apartamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Condominio', 'IPTU'])
imoveis

### Elimina registros que não apresentam a variável valor

In [ ]:
imoveis.dropna(subset = ['Valor'], inplace = True)
imoveis

### Elimina imóveis do tipo Apartamento que nao apresentam valor Condomínio

In [ ]:
selecao = (imoveis['Tipo'] == 'Apartamento') & (imoveis['Condominio'].isnull())
imoveis = imoveis[~selecao]
imoveis

### Substitui os valores faltantes que restam nas variáveis Condominio e IPTU por zero

In [ ]:
imoveis = imoveis.fillna({'Condominio': 0, 'IPTU': 0})
imoveis

### Reconstrói o índice do DataFrame resultante

In [ ]:
imoveis.index = range(imoveis.shape[0])
imoveis

In [ ]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

In [ ]:
atletas.fillna(atletas.mean(), inplace = True)
atletas

In [5]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas'])

In [12]:
alunos['Faixa Etária'] = alunos['Idade'].apply(lambda x: 'Menor que 20 anos' if x < 20 
        else ('Entre 20 e 40 anos' if (x >= 20 and x <= 40) 
            else 'Maior que 40 anos'))

In [13]:
alunos.head(10)

     Nome  Idade Sexo  Notas        Faixa Etária
0     Ary     15    M    7.5   Menor que 20 anos
1   Cátia     27    F    2.5  Entre 20 e 40 anos
2   Denis     56    M    5.0   Maior que 40 anos
3    Beto     32    M   10.0  Entre 20 e 40 anos
4   Bruna     42    F    8.2   Maior que 40 anos
5    Dara     21    F    7.0  Entre 20 e 40 anos
6  Carlos     19    M    6.0   Menor que 20 anos
7   Alice     35    F    5.6  Entre 20 e 40 anos

KeyError: "None of [Index(['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2'], dtype='object')] are in the [columns]"

In [8]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [11]:
eventos = { 'm1': list(m1),
          'm2': list(m2),
          'm3' : list(m3),
          'm4': list(m4),
          'm5': list(m5)}
moedas = pd.DataFrame(eventos)
moedas.head()

  m1 m2 m3 m4 m5
0  C  C  C  c  C
1  C  C  c  C  C
2  c  C  c  C  C
3  C  C  C  c  c
4  C  C  C  c  C

In [21]:
freq_m1 = moedas.m1.value_counts()
freq_m1 = pd.DataFrame(freq_m1)
freq_m1

   m1
C  25
c  25

In [24]:
freq_m2 = moedas.m2.value_counts()
freq_m2 = pd.DataFrame(freq_m2)
freq_m2

   m2
c  26
C  24

In [31]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25